<title>Ruby on Rails about page</title>

<meta name="author" content="Nimisha" />
<meta name="description" content="Ruby on rails tutorial" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->
<link rel="stylesheet" href="style.css" type="text/css" />

</head>
<body>

<!-- webpage content goes here in the body -->

<div id="page">
<div id="logo">
  <h1>My First Website in Ruby on Rails</h1>
</div>
<div id="nav">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Contact', root_path %></li>
  </ul>
</div>
<div id="content">
  <h2>About</h2>
  <p>
    This is my first ruby rails webpage!
  </p>
</div>
<div id="footer">
  <p>
    Webpage made by <a href="/" target="_blank">Nimisha</a>
  </p>
</div>
</div>
</body>
</html>
